@using KryptPadWebApp.Cryptography
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section css{
    @Styles.Render("~/Content/css/dashboard")

    @RenderSection("css", required: false)
}

<div id="app" class="container">

    <div class="app-header clearfix">

        <div class="pull-left">
            <a class="app-header-brand">
                <img src="~/Content/Images/Square176x176LogoDark.png" class="logo" />
                Krypt Pad
            </a>
        </div>

        <div class="pull-right">

            <ul class="header-menu">
                <li>
                    <p class="header-text visible-lg-inline-block visible-md-inline-block visible-sm-inline-block" data-bind="text: $root.userName">
                        
                    </p>
                </li>
                
                @*cd53aabfe965b55c3c3de4e789c373cf*@
                <li>
                    <div class="dropdown header-button">
                        @*Profile pic*@
                        <a id="profile-menu-trigger" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <img data-bind="attr: {src: $root.profilePic}" class="profile-pic" alt="" /><span><span class="caret"></span></span>
                        </a>

                        @*Profile menu*@
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-menu-trigger">
                            
                            @*<li role="separator" class="divider"></li>*@
                            <li><a role="button" data-bind="click: $root.signOut">Sign out</a></li>
                        </ul>

                    </div>
                </li>
                
            </ul>

            
        </div>
    </div>


    @RenderBody()
</div>

@section scripts{

    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)
}
