@using Microsoft.AspNet.Identity
@using KryptPadWebApp.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*Link FontAwesome CDN*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>@ViewBag.Title - @Strings.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @* Nav menu *@
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a href="@Url.RouteUrl("Home")" class="navbar-brand">
                    @Strings.AppName
                </a>
            </div>
            <div id="user-info" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.RouteUrl("About")">@Strings.About</a></li>

                </ul>
                
                <p class="navbar-text navbar-right">
                    <span>@Strings.Welcome</span>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span>@User.Identity.GetUserName()</span>
                        <a href="@Url.RouteUrl("DoSignOut")">@Strings.SignOut</a>
                    } else
                    {
                        <span>@Strings.Guest</span>
                    }
                </p>

            </div>
        </div>
    </div>

    @RenderSection("pageHeader", false)

    

    @RenderBody()

    <div class="container">

        <hr />
        <footer>
            <p>Copyright &copy; @DateTime.Now.Year - KryptPad.com</p>
        </footer>
        <div class="row">
            <div class="col-sm-4">
                <h5>Resources</h5>
                <a href="@Url.RouteUrl("Policy")">@Strings.PrivacyPolicy</a>
                <br />
                <a href="@Url.RouteUrl("Terms")">@Strings.LicenseTerms</a>
            </div>
            <div class="col-sm-4">
                <h5>Links</h5>
                <a href="http://www.neptunecentury.com">Neptune Century Studios</a>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/widgets")
    @RenderSection("scripts", required: false)

</body>



</html>
