@model KryptPadWebApp.Models.Requests.CreateAccountRequest

<h4>Sign up</h4>

@using (Html.BeginRouteForm("DoSignIn", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="text-left">

        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

        <label class="sr-only" for="username">Email</label>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-user fa-fw"></i>
            </span>
            @Html.TextBoxFor((m) => m.Email, new { @class = "form-control", placeholder = "Email: example@domain.com" })

        </div>

        <p>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </p>

        <label class="sr-only" for="password">Password</label>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-key fa-fw"></i>
            </span>
            @Html.PasswordFor((m) => m.Password, new { @class = "form-control", placeholder = "Password" })

        </div>

        <p>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </p>

        <label class="sr-only" for="password">Confirm password</label>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-key fa-fw"></i>
            </span>
            @Html.PasswordFor((m) => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })

        </div>

        <p>
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </p>

        <p>
            By signing in, you agree to the <a href="@Url.RouteUrl("Terms")" target="_blank">license terms</a>.
            Also, please read the <a href="@Url.RouteUrl("Policy")" target="_blank">privacy policy</a>.
        </p>

        <p>
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>

        </p>

    </div>
}
