@using KryptPadWebApp.Resources
@model KryptPadWebApp.Models.Requests.CreateAccountRequest

<h4>@Strings.SignUp</h4>

@*Main body*@
<div id="signup" class="text-left">

    @*Form*@
    <div data-bind="visible: !isBusy()">

        <form id="sign-up-form" method="post" action='@Url.RouteUrl("SelectProfile")'>
            @Html.AntiForgeryToken()
            
            <message-widget params="message: message"></message-widget>

            <p>
                <small><label class="sr-only" for="sign-up-email">@Strings.Email</label></small>
                <span class="text-danger" data-bind="validationMessage: email"></span>
                <input type="text" id="sign-up-email" class="form-control" data-bind="textInput: email"
                       placeholder="@Strings.Email" />
            </p>

            <p>
                <span>@Strings.PasswordRequirement</span>
                <br />
                <small><label class="sr-only" for="sign-up-password">@Strings.Password</label></small>
                <span class="text-danger" data-bind="validationMessage: password"></span>
                <input type="password" id="sign-up-password" class="form-control" data-bind="textInput: password"
                       placeholder="@Strings.Password" />
            </p>

            <p>
                <small><label class="sr-only" for="sign-up-confirm-password">@Strings.ConfirmPassword</label></small>
                <span class="text-danger" data-bind="validationMessage: confirmPassword"></span>
                <input type="password" id="sign-up-confirm-password" class="form-control" data-bind="textInput: confirmPassword"
                       placeholder="@Strings.ConfirmPassword" />

            </p>
            
            <p>
                @Html.Raw(String.Format(Strings.SignupTerms, Html.RouteLink(Strings.LicenseTerms.ToLower(), "Terms"), Html.RouteLink(Strings.PrivacyPolicy.ToLower(), "Policy")))
            </p>

            <p>
                <button data-bind="click: signup" class="btn btn-primary btn-block">@Strings.SignUp</button>
            </p>

        </form>


    </div>

    @{ Html.RenderPartial("_Spinner");}

</div>