@model KryptPadWebApp.Models.SigninModel

<h4>Sign in</h4>

@using (Html.BeginRouteForm("DoSignIn", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="text-left">
        
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })   

        <label class="sr-only" for="username">Email</label>
        <span class="text-danger" data-bind="validationMessage: username"></span>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-user fa-fw"></i>
            </span>
            @Html.TextBoxFor((m) => m.Email, new { @class = "form-control", placeholder = "Email: example@domain.com" })

        </div>
        <br />

        <label class="sr-only" for="password">Password</label>
        <span class="text-danger" data-bind="validationMessage: password"></span>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-key fa-fw"></i>
            </span>
            @Html.PasswordFor((m) => m.Password, new { @class = "form-control", placeholder = "Password" })

        </div>

        <br />

        <p>
            By signing in, you agree to the <a href="@Url.RouteUrl("Terms")" target="_blank">license terms</a>.
            Also, please read the <a href="@Url.RouteUrl("Policy")" target="_blank">privacy policy</a>.
        </p>

        <p>
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>

        </p>

        <div>
            <span>
                <a href="@Url.RouteUrl("ForgotPassword")">Forgot password</a>
                |
                <a href="@Url.RouteUrl("SignUp")">Sign up</a>
            </span>
        </div>
    </div>
}