@model KryptPadWebApp.Models.Requests.ResetPasswordModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container ">

    @if (Model.Success)
    {
        <div class="alert alert-success">
            <span>Your password has been changed successfully</span>
        </div>
    }

    <div class="d-flex justify-content-center">
        <div class="w-50">

            @if (!Model.Success)
            {
                using (Html.BeginForm("ChangePassword", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    <h4>Change Password</h4>

                    if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert">&times;</a>
                            <h4 class="alert-heading">Oops!</h4>
                            @Html.ValidationSummary()
                        </div>
                    }

                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.UserId)
                    @Html.HiddenFor(m => m.Code)

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="btn btn-primary mt-5">Change Password</button>
                }
            }
        </div>
    </div>
</div>
