@using KryptPadWebApp.Models
@using KryptPadWebApp.Resources
@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

@section pageHeader{

    @*Account section*@
    <div class="container text-center" style="min-height: 100%">
        <div class="hero hero-heading">
            
            <h1>@Strings.AppName</h1>
            <p class="lead">@Strings.TagLine</p>
            @*<img src="~/Content/Images/safe-white.svg" width="256" alt="Krypt Pad" />*@

            @*Account management*@
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="row ">
                    @*Sign in form*@
                    <div id="sign-in" class="col-lg-offset-2 col-md-offset-1 col-lg-4 col-md-5 col-sm-6 border-right">
                        @Html.Partial("_Signin", Model.SigninModel)
                    </div>

                    @*Sign up form*@
                    <div id="sign-up" class="col-lg-4 col-md-5 col-sm-6">
                        @Html.Partial("_Signup", Model.CreateAccountRequest)
                    </div>

                </div>
            }
            else
            {
                <p>
                    <a href="@Url.RouteUrl("SelectProfile")" class="btn btn-primary btn-lg">Go to my account</a>
                </p>
            }
        </div>
    </div>

    @*Social section*@
    <div class="social-bar">
        <div class="container text-center">

            <a href="https://www.facebook.com/KryptPad/"><img src="~/Content/Images/social_facebook.png" /></a>
            <a href="https://twitter.com/KryptPad"><img src="~/Content/Images/social_twitter.png" /></a>

        </div>
    </div>
}

@*Available downloads*@
<div class="container text-center">
    <p class="h1">
        Available for
    </p>


    <a href="https://www.microsoft.com/en-us/store/p/krypt-pad/9nblggh5xd4f" target="_blank">
        <p><i class="fa fa-windows fa-5x"></i></p>

        Windows 10
    </a>

    <hr />

</div>

@*An ad - will probably get blocked anyway :( oh well*@
<div class="text-center middle">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- KP_RESP_1 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3983402242017131"
         data-ad-slot="8554978894"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

@*Main content*@
<div class="hero">
    <div class="container text-center">
        <p class="h1">How it works</p>

        <p class="lead">
            Keeping track of all your passwords, credit cards, and other personal information can be difficult, or even impossible
            (unless you have a photographic memory). But for the rest of us, Krypt Pad can store sensitive information and keep it
            safe. Your data is encrypted and synced across all your compatible devices.
        </p>

        <div class="row">

            <div class="col-md-4">
                <p>
                    <img src="~/Content/Images/communication-mobile-phone.svg" width="128" />
                </p>
                <p class="lead">
                    Manage your credentials with a client for your platform
                </p>
            </div>

            <div class="col-md-4">
                <p>
                    <img src="~/Content/Images/security-security-padlock.svg" width="128" />
                </p>
                <p class="lead">
                    AES 256-bit encryption keeps your data secure
                </p>
            </div>

            <div class="col-md-4">
                <p>
                    <img src="~/Content/Images/security-trusted-security.svg" width="128" />
                </p>
                <p class="lead">
                    Your information can be accessed from compatible devices
                </p>
            </div>

        </div>

        @*Another ad that will probably be blocked*@
        <div class="text-center middle">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- KP_RESP_2 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3983402242017131"
                 data-ad-slot="6799044097"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

    </div>

</div>

@*Safe & secure*@
<div id="secure" class="hero hero-light-blue">
    <div class="container">

        <div class="row">
            <div class="col-sm-4 text-center col-sm-push-8 ">
                <img src="~/Content/Images/security-electronic-key.svg" style="width: 80%; max-width:256px" />
            </div>

            <div class="col-sm-8 col-sm-pull-4">
                <p class="h1">Security</p>
                <p class="lead">
                    Security is important, especially when you are storing credentials, credit card numbers, bank information, and other
                    sesitive data. Everything is protected using AES 256bit encryption.
                </p>
            </div>
        </div>



    </div>
</div>

@*Donations*@
<div id="donate" class="hero">
    <div class="container">

        <div class="row">

            <div class="col-md-5 visible-md-block visible-lg-block">
                <span class="fa-5x"><i class="fa fa-heart fa-4x text-danger throb"></i></span>
            </div>

            <div class="col-md-5">
                <p class="h1">Donation supported</p>
                <p class="lead">
                    Krypt Pad is supported by donations. Your contributions help support future development.
                    You are free to donate as much as you'd like; there's no preset amount.
                </p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="XFMJUYPB6U5R6">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>

        </div>

    </div>
</div>



<div class="text-center middle">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- KP_RESP_3 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-3983402242017131"
         data-ad-slot="4431573696"
         data-ad-format="auto"></ins>
    <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</div>


@section scripts{
    <script src="@Url.HttpRouteUrl("GetRoutes", null)"></script>
    <script src="~/Scripts/app/sign-up.js"></script>
    <script>

                api.routes = routes;


                +function () {
                    // Get main app container
                    var $signupNode = $('#signup');
                    var signupOptions = {
                        antiForgeryToken: $signupNode.find("input[name='__RequestVerificationToken']").val(),
                        requestUrl: '@Url.RouteUrl("DoSignIn")',
                        node: $signupNode[0]
                    };

                    // Start signup script
                    new Signup(signupOptions);

                }();
    </script>
}
